@page {
  margin: 0 !important;
}
html {
  margin: 0;
  padding: 0;
}
body {
  background: url('../images/sheet_back_mainbox.png');
  font-family: "Myriad Pro", sans-serif;
  font-size: 9.5pt;
  line-height: 12pt;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 16pt;
  padding-top: 12mm;
  line-height: 20pt;
}
strong {
  font-weight: bold;
}
#skipnav,
#headerbox,
#navbox,
#footerbox,
.noprint {
  display: none;
}
#container {
  padding: 0;
  margin: 0;
}
#contentbox {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 297mm;
  height: 209.5mm;
}
#content {
  width: 100%;
  height: 100%;
  padding: 0;
}
#content article {
  padding: 0;
  margin: 0;
}
h2,
.campos,
.link,
p {
  display: block;
  width: 46mm;
  text-align: left;
  margin: 0 0 0 12mm;
  float: left;
  clear: both;
}
.campos {
  font-family: "Myriad Pro", sans-serif;
  margin: 5mm 0 13pt 12mm;
  padding: 0;
  position: relative;
}
.campos span {
  display: block;
}
.campos span.projecto-meta {
  padding-top: 5pt;
}
.link {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: #000;
  text-transform: lowercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3pt 4pt 2pt;
  margin: 0 0 26pt 12mm;
  width: auto;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
.link:after {
  content: attr(data-link);
  visibility: visible;
  color: #000;
  display: block;
}
p:last-child {
  background: url('../images/picotado.png') repeat-y;
  padding: 11.5mm 0 0 13mm;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 218mm;
  height: 198mm;
}
p:last-child img {
  float: left;
  margin-right: 1mm;
  margin-bottom: 2mm;
  width: 102mm;
  height: auto;
}
